

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,300;1,900&display=swap');

:root{
    --main-color:#53392C;
    --black:#13131a;
    --bg:#010103;
    --border:0.1rem solid rgba(255,255,255,0.3);
    font-size: 10px;
    font-family: "Roboto", sans-serif;


}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;

    overflow-x: hidden;
    width: 100%;
}



#sidebar.active {
    left: 0;
}

.navbar-toggler {
    cursor: pointer;
    z-index: 1001;
}

.navbar-dark .navbar-toggler {
    background-color: #53392C;
}

.bg-dark {

    background-color: #ffffff !important;
    border-bottom: 0.5rem solid var(--main-color);
    padding-bottom: 0.5rem;
   
}

.navbar-nav a{
    justify-content: center !important;


}

.navbar-dark .navbar-nav .nav-link {
margin-left: 100px;}


#sidebar {
    background-color:#519B7A!important;
    border: 0.2rem solid var(--main-color);

    width: 300px;
    height: 100vh;
    position: fixed;
    left: -500px;
    top: 0;
    transition: left 0.5s;
    z-index: 1000;
}
.text-white {
    color: #53392C !important;
    font-size: 1.8rem;
    

}

.text-white a{
   margin-top: 30px;
   margin-left: 20px;
}


.navbar-dark .navbar-nav .nav-link {
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.8rem;
    transition: .2s;

   
}

.navbar-dark .navbar-nav .nav-link:hover{
    color: var(--main-color);
    border-bottom: 0.1rem solid var(--main-color);
    padding-bottom: 0.5rem;
    font-size: 2rem;

}

/* ---------------------------------------------------- */
/* container-Parte1 */

.container-Parte1{
position: relative;
width: 100%;



}
.container-Parte1 .container-img{
width: 100%;
height: 800px;
background-image: url('pricipa.png');
background-size: 100% 100%;
padding: 20px;
position: relative;


}
.container-txt {
margin-top: 2%;
text-align: center;
margin-left: 10%;
margin-right: 10%;
padding: 20px ; 


}

.container-txt1 {
    color: white;
    text-shadow: 7px 10px 6px rgba(0,0,0,0.6);
    }
.container-txt1 a{
color: white;
text-shadow: 7px 10px 6px rgba(0,0,0,0.6);
text-decoration: none;
}


.container-txt1 h1 {
font-size: 35pt;
font-family: "Roboto", sans-serif;
font-weight: 400;
font-style: normal;



}

.container-txt1 p {
font-size: 20pt;
font-family: "Roboto", sans-serif;
font-weight: 400;
font-style: normal;


}


.container-txt .container-txt1 button{
padding: 10px 20px;
border-radius: 5px;
background: rgba(255, 255, 255, 0); 
border: 1px solid #e7e7e7; 
color: white;
font-size: 12pt;
cursor: pointer;
box-shadow: 0 0 15px #000000fc;


}
.container-txt .container-txt1 button:hover{
background: rgba(0, 0, 0, 0.334); 

}



.container-txt2{
padding: 20px ;
margin-left: 10%;
margin-right: 10%;
margin-top: 20px;
background: white;
text-align: left;
border-radius: 10px;
box-shadow: 5px 13px 5px -1px rgba(0,0,0,0.74);
-webkit-box-shadow: 5px 13px 5px -1px rgba(0,0,0,0.74);
-moz-box-shadow: 5px 13px 5px -1px rgba(0,0,0,0.74);
font-size: 11pt;
color: #53392C;
font-family: "Roboto", sans-serif;
font-weight: 900;
font-style: normal;


}

.container-button .button{
margin-right: 10px;
background: white; 
border: 1px solid #519B7A;  

display: inline-block;
padding: 20px;
border-radius: 10px;
cursor: pointer;
position: relative;
width: 100px;
height: 80px;}



.container-button .button a{
color: #519B7A;
text-decoration: none;
font-size: 12pt;

}

.container-button .button:hover{
background-color: #519B7A;
border: 1px solid #53392C;

}

.container-button .button a:hover{
color: white;

}

.container-txt3{
display: grid;
grid-template-columns: 50% 50%;
margin-top: 20px;
}

.container-txt3 .input-container {
width: 20%;
position: relative;
}

.container-txt3 .input-container input{
padding: 10px 20px;
border: 1px solid #519B7A; 
cursor: pointer;
border-radius: 5px; 

}

.container-txt3 .input-container input::placeholder{
color: #519B7A;
text-align: end;
}

.input-container label{
position: absolute;
top: 2px;
font-size: 15pt;
color: #53392C;




}

.container-txt3 button{
color: #519B7A;
padding: 10px;
border: 1px solid #519B7A;  
background-color: #ffffff;
border-radius: 5px;
cursor: pointer;
font-size: 10pt;


}

.container-txt3 button:hover{
background-color: #519B7A;
color: white;



}


.container-txt3 .selectores{
display: grid;
grid-template-columns: 50% 50%; 
margin-top: 10px; 
cursor: pointer;    
}

.container-txt3 .selectores input{
padding: 10px;
border: 1px solid #519B7A;
color: #519B7A;

}

/* ´´´´´´´´´´´´´´´´´´´´´´´´´´ conteiner main parte 1´´´´´´´´´´´´´´´´´´´´´ */

 main .conteiner{
    text-align: center;
    margin-bottom: 10px;
    padding: 10px;
    border-bottom: 1px solid #519B7A;  

   

   
}

main .conteiner .conteiner-geral{
    display: grid;
    grid-template-columns: 50% 50%;
    margin-left: 20%;
    margin-right: 20%;
}


/* ´´´´´´´´´´´´´´´´´´´´´´´´´´  parte 1 manin´´´´´´´´´´´´´´´´´´´´´´ */


 #conteiner-geral1{
    padding: 10px;

}

.conteiner-geral11{
    display: flex;
    justify-content: center;

}

 .conteiner-geral111{
    margin-top: 5px;
    margin-right: 20px;
    padding: 6px;

}
.conteiner-geral1111{
    text-align: left;
    padding: 6px;
    width: 300px;

}
.conteiner-geral1111 h4{
    font-size: 13pt;
    font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #519B7A;


}

.conteiner-geral1111 p{
    font-size: 10pt;
    font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;


}
/* ´´´´´´´´´´´´´´´´´´´´´´´´´´  parte 2 manin´´´´´´´´´´´´´´´´´´´´´´ */

main .conteiner .conteiner-geral .conteiner-geral2{
    padding: 10px;

}

.conteiner-geral222{
    margin-top: 10px;
    margin-right: 20px;
 
}

.conteiner-geral22{
    padding: 10px;
    display: flex;
    background-color: #e7e7e7ad;
    border-top: 1px solid #519B7A;
    border-left: 1px solid #519B7A;
    border-right: 1px solid #519B7A;


}

.conteiner-geral2222 p{
font-size: 10pt;
font-family: "Roboto", sans-serif;
font-weight: 500;
font-style: normal;
text-align: left;
}
.conteiner-gera22totatl{
border: 1px solid #519B7A;


}
.conteiner-gera22{

padding: 10px;
display: flex;
background-color: white;
}


/* ´´´´´´´´´´´´´´´´´´´´´´´´´´ conteiner main parte 2´´´´´´´´´´´´´´´´´´´´´ */

main .conteiner2{
text-align: center;
margin-bottom: 10px;
padding: 10px;
border-bottom: 1px solid #519B7A;  
margin-top: 40px;






}

main .conteiner2 .content-geral{

padding: 40px;
display: grid;
grid-template-columns: auto auto auto;
margin-left: 20%;
margin-right: 20%;
gap: 20px;
margin-bottom: 60px;

}
main .conteiner2  h1{
font-size: 30pt;
font-family: "Roboto", sans-serif;
font-weight: 400;
font-style: normal;
margin-bottom: 20px;


}

main .conteiner2 .content-geral h3{
font-size: 15pt;
font-family: "Roboto", sans-serif;
font-weight: 500;
font-style: normal;
color: #519B7A;
margin-bottom: 20px;

}

main .conteiner2 .content-geral p{
font-size: 10pt;
font-family: "Roboto", sans-serif;
font-weight: 500;
font-style: normal;
margin-bottom: 20px;

}

/* ´´´´´´´´´´´´´´´´´´´´´´´´´´ content-gera parte 1´´´´´´´´´´´´´´´´´´´´´ */

main .conteiner2 .content-geral .content-geral1{
    border-bottom: 1px solid #519B7A;

}
/* ´´´´´´´´´´´´´´´´´´´´´´´´´´ content-gera parte 2´´´´´´´´´´´´´´´´´´´´´ */


main .conteiner2 .content-geral .content-geral2{
    border-bottom: 1px solid #519B7A;

}

/* ´´´´´´´´´´´´´´´´´´´´´´´´´´ content-gera parte 3´´´´´´´´´´´´´´´´´´´´´ */

main .conteiner2 .content-geral .content-geral3{
    border-bottom: 1px solid #519B7A;

}








/* ´´´´´´´´´´´´´´´´´´´´´´´´´´ conteiner main parte 3´´´´´´´´´´´´´´´´´´´´´ */

main .conteiner3{
    margin-top: 40px;
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid #519B7A;
    margin-bottom: 10px;


   

   
}

main .conteiner3 .content-geral{
    display: grid;
    padding: 10px;
    grid-template-columns: auto auto auto auto;
    margin-left: 20%;
    margin-right: 20%;
    gap: 20px;
    margin-bottom: 60px;




}

main .conteiner3 .content-geral h3,p{
  text-align: left;

}
main .conteiner3 h1{
    font-size: 20pt;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    margin-bottom: 40px;



    
    }
main .conteiner3 .content-geral h3{
font-size: 15pt;
font-family: "Roboto", sans-serif;
font-weight: 500;
font-style: normal;
color: #519B7A;

}

main .conteiner3 .content-geral p{
    font-size: 10pt;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    
    }


main #avaliaçao {
    color: #53392C;

  
}

main .avaliaçao{
    display: flex;
    gap: 5px;
}



/* ´´´´´´´´´´´´´´´´´´´´´´´´´´ content-gera parte 1´´´´´´´´´´´´´´´´´´´´´ */

main .conteiner3 .content-geral .content-geral1{
    border: 1px solid #519B7A;
    padding: 5px;

}
/* ´´´´´´´´´´´´´´´´´´´´´´´´´´ content-gera parte 2´´´´´´´´´´´´´´´´´´´´´ */


main .conteiner3 .content-geral .content-geral2{
    border: 1px solid #519B7A;
    padding: 5px;


}

/* ´´´´´´´´´´´´´´´´´´´´´´´´´´ content-gera parte 3´´´´´´´´´´´´´´´´´´´´´ */

main .conteiner3 .content-geral .content-geral3{
    border: 1px solid #519B7A;
    padding: 5px;


}

/* ´´´´´´´´´´´´´´´´´´´´´´´´´´ content-gera parte 4´´´´´´´´´´´´´´´´´´´´´ */

main .conteiner3 .content-geral .content-geral4{
    border: 1px solid #519B7A;
    padding: 5px;
}






/* ´´´´´´´´´´´´´´´´´´´´´´´´´´ conteiner main parte 4´´´´´´´´´´´´´´´´´´´´´ */

main .conteiner4{
text-align: center;
margin-bottom: 10px;
padding: 10px;
border-bottom: 1px solid #519B7A; 
margin-top: 40px;




}

main .conteiner4 .content-geral{
padding: 40px;
display: grid;
grid-template-columns: auto auto auto;
margin-left: 20%;
margin-right: 20%;
background-color: #ffffff;
gap: 40px;
margin-bottom: 60px;
}


main .conteiner4  h1{
font-size: 30pt;
font-family: "Roboto", sans-serif;
font-weight: 400;
font-style: normal;
margin-bottom: 20px;

}

main .conteiner4 .content-geral h3{
font-size: 15pt;
font-family: "Roboto", sans-serif;
font-weight: 500;
font-style: normal;
color: #519B7A;
margin-bottom: 20px;

}

main .conteiner4 .content-geral p{
font-size: 10pt;
font-family: "Roboto", sans-serif;
font-weight: 500;
font-style: normal;
margin-bottom: 20px;

}



/* ´´´´´´´´´´´´´´´´´´´´´´´´´´ content-gera parte 1´´´´´´´´´´´´´´´´´´´´´ */

main .conteiner4 .content-geral .content-geral1{
    border-bottom: 1px solid #519B7A;

}
/* ´´´´´´´´´´´´´´´´´´´´´´´´´´ content-gera parte 2´´´´´´´´´´´´´´´´´´´´´ */


main .conteiner4 .content-geral .content-geral2{
    border-bottom: 1px solid #519B7A;

}

/* ´´´´´´´´´´´´´´´´´´´´´´´´´´ content-gera parte 3´´´´´´´´´´´´´´´´´´´´´ */

main .conteiner4 .content-geral .content-geral3{
    border-bottom: 1px solid #519B7A;

}








/* ´´´´´´´´´´´´´´´´´´´´´´´´´´ conteiner footer´´´´´´´´´´´´´´´´´´´´´ */

footer .conteiner{
    text-align: center;
    margin-bottom: 10px;
    padding: 10px;
    border-bottom: 1px solid #519B7A;  
    background: blue;
    margin-bottom: 100px;

   

   
}

footer .conteiner .content-geral{
    display: grid;
    grid-template-columns: auto auto auto;
    margin-left: 20%;
    margin-right: 20%;
    background-color: #ffffff;
}


/* ´´´´´´´´´´´´´´´´´´´´´´´´´´ content-gera parte 1´´´´´´´´´´´´´´´´´´´´´ */

footer .conteiner .content-geral .content-geral1{
    background: #a9851a;
}
/* ´´´´´´´´´´´´´´´´´´´´´´´´´´ content-gera parte 2´´´´´´´´´´´´´´´´´´´´´ */


footer .conteiner .content-geral .content-geral2{
    background: #96185f;
}

/* ´´´´´´´´´´´´´´´´´´´´´´´´´´ content-gera parte 3´´´´´´´´´´´´´´´´´´´´´ */

footer .conteiner .content-geral .content-geral3{
    background: #0dcb4c;
}



/* midia */




@media (min-width: 1200px) {
    #sidebar {
        display: none;
    }

    
}






@media only screen and (max-width: 1200px) {
    .container-Parte1 .container-img{
        width: 100%;
        height: 300px;
       
    }

    .bg-dark {

        background-color: #519B7A !important;
        border-top: 0.3rem solid var(--main-color);
        border-bottom: 0.2rem solid var(--main-color);
       
    }

    .container-txt {
        position: none;
        top: 40%;
        padding: 0; 
     
        
        
        }


.container-txt1 h1 {
    font-size: 18pt;
    
    
    }


    .container-txt2{
        display: none;
        
        }
    
    .container-txt1 p {
    font-size: 12pt;
    
    
    }
    .container-txt .container-txt1 button{
        padding: 8px 12px;
        font-size: 10pt;
        cursor: pointer;
    }
    
/* ´´´´´´´´´´´´´´´´´´´´´´´´´´ conteiner main parte 1´´´´´´´´´´´´´´´´´´´´´ */

    
    
    main .conteiner .conteiner-geral{
        grid-template-columns: none;
        margin-left: 0;
        margin-right: 0;
    }
    
   
    .conteiner-geral111{
        margin-right: none;
    
    }
    
    .conteiner-geral11{
       flex-direction: column;
       border: 1px solid #519B7A; 
       margin-top: 5px; 

    
    }

    .conteiner-geral11:hover{
        background-color: #519b7a3d;
    }
      

   
    

/* ´´´´´´´´´´´´´´´´´´´´´´´´´´ conteiner main parte 2´´´´´´´´´´´´´´´´´´´´´ */



main .conteiner2 .content-geral{
   
    grid-template-columns: none;
    margin-left: 0;
    margin-right: 0;
}



/* ´´´´´´´´´´´´´´´´´´´´´´´´´´ conteiner main parte 3´´´´´´´´´´´´´´´´´´´´´ */



main .conteiner3 .content-geral{
    
    grid-template-columns: none;
    margin-left: 0;
    margin-right: 0;
}



/* ´´´´´´´´´´´´´´´´´´´´´´´´´´ conteiner main parte 4´´´´´´´´´´´´´´´´´´´´´ */


main .conteiner4 .content-geral{
    grid-template-columns: none;
    margin-left: 0;
    margin-right: 0;
}

/* ´´´´´´´´´´´´´´´´´´´´´´´´´´ conteiner footer´´´´´´´´´´´´´´´´´´´´´ */



footer .conteiner .content-geral{
    grid-template-columns: none;
    margin-left: 0;
    margin-right: 0;
}






}




  
