

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,300;1,900&display=swap');

:root{
    --main-color:#53392C;
    --black:#13131a;
    --bg:#010103;
    --border:0.1rem solid rgba(255,255,255,0.3);
    font-size: 10px;
    font-family: "Roboto", sans-serif;


}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;

    overflow-x: hidden;
    width: 100%;
    text-align: center;
    margin-top: 2%;
    background-color: #519B7A;
}


button{
    padding: 10px 20px;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0); 
    border: 1px solid #e7e7e7; 
    color: white;
    font-size: 12pt;
    cursor: pointer;
    box-shadow: 0 0 15px #000000fc;
    margin-top: 5%;
    
    
    }

    button:hover{
        background: rgba(0, 0, 0, 0.334); 
        
        }

.container-txt2{
    padding: 20px ;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 20px;
    background: white;
    text-align: left;
    border-radius: 10px;
    box-shadow: 5px 13px 5px -1px rgba(0,0,0,0.74);
    -webkit-box-shadow: 5px 13px 5px -1px rgba(0,0,0,0.74);
    -moz-box-shadow: 5px 13px 5px -1px rgba(0,0,0,0.74);
    font-size: 11pt;
    color: #53392C;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
    
    
    }
    
    .container-button .button{
    margin-right: 10px;
    background: white; 
    border: 1px solid #519B7A;  
    
    display: inline-block;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    width: 100px;
    height: 80px;}
    
    
    
    .container-button .button a{
    color: #519B7A;
    text-decoration: none;
    font-size: 12pt;
    
    }
    
    .container-button .button:hover{
    background-color: #519B7A;
    border: 1px solid #53392C;
    
    }
    
    .container-button .button a:hover{
    color: white;
    
    }
    
.container-txt3{
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 20px;
    }
    
    .container-txt3 .input-container {
    width: 20%;
    position: relative;
    }
    
    .container-txt3 .input-container input{
    padding: 10px 20px;
    border: 1px solid #519B7A; 
    cursor: pointer;
    border-radius: 5px; 
    
    }
    
    .container-txt3 .input-container input::placeholder{
    color: #519B7A;
    text-align: end;
    }
    
    .input-container label{
    position: absolute;
    top: 2px;
    font-size: 15pt;
    color: #53392C;
    
    
    
    
    }
    
    .container-txt3 button{
    color: #519B7A;
    padding: 10px;
    border: 1px solid #519B7A;  
    background-color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 10pt;
    
    
    }
    
    .container-txt3 button:hover{
    background-color: #519B7A;
    color: white;
    
    
    
    }
    
    
    .container-txt3 .selectores{
    display: grid;
    grid-template-columns: 50% 50%; 
    margin-top: 10px; 
    cursor: pointer;    
    }
    
    .container-txt3 .selectores input{
    padding: 10px;
    border: 1px solid #519B7A;
    color: #519B7A;
    
    }


    
@media only screen and (max-width: 1200px) {
    .container-txt3{
        grid-template-columns: none;
        }
       
        .container-txt3 .selectores{
            grid-template-columns: none; 
               
            }
    }


